* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.main {
  display: grid;
  height: 100vh;
  background: silver;
  grid-template-rows: 250px 1fr;
}

.main .header-title {
  display: grid;
  align-items: center;
  text-align: center;
}

.main .login-form {
  display: grid;
  height: 30px;
  gap: 5px;
  justify-items: center;
}
.main .login-form button {
  width: 100px;
  cursor: pointer;
}
.main .login-form button:hover {
  background: silver;
}
